name: Build and publish docker image to Docker Hub

on:
  push:
    branches:
      - main
      - dev

permissions:
  contents: write

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set Date and Timestamp
        run: |
          echo "DATE=$(date +'%Y%m%d')" >> $GITHUB_ENV
          echo "TIMESTAMP=$(date +'%Y%m%d-%H%M')" >> $GITHUB_ENV
          echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Set Environment
        run: |
          if [ "${GITHUB_REF##*/}" == "main" ]; then
            echo "ENV=prod" >> $GITHUB_ENV
          else
            echo "ENV=dev" >> $GITHUB_ENV
          fi

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: |
          cd client
          docker build -t dressr/aircare-web:${{ env.ENV }}-${{ env.TIMESTAMP }}-${{ env.SHORT_SHA }} -t dressr/aircare-web:${{ env.ENV }}-latest .

      - name: Push Docker Image
        run: |
          cd client
          docker push dressr/aircare-web:${{ env.ENV }}-${{ env.TIMESTAMP }}-${{ env.SHORT_SHA }}
          docker push dressr/aircare-web:${{ env.ENV }}-latest

      - name: Update Deployment Repo with New Image Tag
        env:
          DEPLOYMENT_REPO: "Dressr-org/Dressr.Deployment"
        run: |
          git clone https://x-access-token:${{ secrets.PERSONAL_ACCESS_TOKEN }}@github.com/${{ env.DEPLOYMENT_REPO }} deploy-repo
          cd deploy-repo
          sed -i "s|image: dressr/aircare-web:.*|image: dressr/aircare-web:${{ env.ENV }}-${{ env.TIMESTAMP }}-${{ env.SHORT_SHA }}|g" k8s/aircare-web/${{ env.ENV }}/aircare-web-deployment.yaml
          git config --local user.name "github-actions"
          git config --local user.email "github-actions@github.com"
          git add k8s/aircare-web/${{ env.ENV }}/aircare-web-deployment.yaml
          git commit -m "Update image for Aircare.Web to ${{ env.ENV }}-${{ env.TIMESTAMP }}-${{ env.SHORT_SHA }}"
          git push
